<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Credit Card Payment</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css"
			rel="stylesheet"
			type="text/css" />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
			integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
			rel="stylesheet" />
		<style>
			body {
				font-family: 'Poppins', sans-serif;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		</style>
	</head>
	<body>
		<div
			id="container-loading"
			class="w-full hidden min-h-screen backdrop-blur z-50 flex justify-end items-end p-5">
			<span class="loading loading-ring loading-lg"></span>
		</div>
		<dialog
			id="card-modal"
			class="z-40 modal modal-bottom sm:modal-middle">
			<div class="modal-box">
				<div class="flex flex-row w-full justify-between items-center">
					<div>
						<h3 class="font-bold text-lg">Continue with Payment</h3>
						<p class="py-4">Amount: PHP {{amount_to_be_paid}}</p>
					</div>
					<div class="image-card w-1/2 flex justify-end items-center">
						<img
							class="card-icon"
							alt="" />
					</div>
				</div>
				<div class="modal-action">
					<form
						id="payment-form"
						class="w-full flex flex-col gap-5 items-center">
						<input
							type="hidden"
							value="{{amount_to_be_paid}}"
							id="amount-to-be-paid" />
						<input
							type="hidden"
							value="{{bill_id}}"
							name="bill_id" />

						<input
							type="hidden"
							value="{{payment_method}}"
							name="payment_method" />

						<label class="form-control w-full max-w-xs">
							<span class="label-text">CARD NUMBER</span>
							<input
								type="text"
								id="card-number"
								placeholder="Card Number"
								class="input input-bordered w-full max-w-xs"
								pattern="^[0-9]{13,19}$"
								required />
						</label>
						<label class="form-control w-full max-w-xs">
							<span class="label-text">CVV</span>
							<input
								type="text"
								id="cvv"
								placeholder="CVV"
								class="input input-bordered w-full max-w-xs"
								pattern="^[0-9]{3,4}$"
								required />
						</label>
						<label class="form-control w-full max-w-xs">
							<span class="label-text">EXPIRY DATE</span>
							<input
								type="text"
								id="expiry-date"
								placeholder="MM/YY"
								class="input input-bordered w-full max-w-xs"
								pattern="^(0[1-9]|1[0-2])\/[0-9]{2}$"
								required />
						</label>
						<button
							id="confirm-payment"
							type="button"
							class="btn btn-success max-w-xs w-full">
							Proceed to Payment
						</button>
						<button
							id="close_payment"
							type="button"
							class="btn btn-error max-w-xs w-full">
							Cancel
						</button>
					</form>
				</div>
			</div>
		</dialog>

		<script>
			$(document).ready(() => {
				const card_modal = document.getElementById('card-modal');
				const card_number = document.getElementById('card-number');
				const card_image = document.querySelector('.card-icon');
				const closeModalButton = $('#close_payment');
				const loading = document.getElementById('container-loading');
				const cancelTransaction = () => {
					if (confirm('Cancel payment?')) {
						card_modal.close();
						alert('Payment cancelled. You may close this window.');
						window.close();
					}
				};
				$(card_number).on('input', () => {
					var cardNumber = $(this).val().replace(/\s/g, '');
					updateCardIcon(cardNumber);
				});
				card_modal.showModal();
				closeModalButton.on('click', () => cancelTransaction());
				$(document).on('keydown', (e) => {
					if (e.key === 'Escape') cancelTransaction();
				});

				const updateCardIcon = (cardNumber) => {
					if (cardNumber.startsWith('4')) {
						card_image.src = 'https://img.icons8.com/color/48/000000/visa.png';
					} else if (cardNumber.startsWith('5')) {
						card_image.src =
							'https://img.icons8.com/color/48/000000/mastercard.png';
					} else if (cardNumber.startsWith('3')) {
						card_image.src = 'https://img.icons8.com/color/48/000000/amex.png';
					} else if (cardNumber.startsWith('6')) {
						card_image.src =
							'https://img.icons8.com/color/48/000000/discover.png';
					} else {
						card_image.src = '';
					}
				};

				$('#confirm-payment').on('click', () => {
					if (confirm('Proceed with payment?')) {
						$.ajax({
							url: 'http://127.0.0.1:5000/api/check_card_validity',
							type: 'POST',
							contentType: 'application/json',
							data: JSON.stringify({
								card_number: $('#card-number').val(),
								expiry_date: $('#expiry-date').val(),
								cvv: $('#cvv').val(),
							}),
							success: (response) => {
								console.log(response);
								if (response.valid) {
									$.ajax({
										url: 'http://127.0.0.1:5000/submit-payment',
										type: 'POST',
										contentType: 'application/json',
										data: JSON.stringify({
											bill_id: document.querySelector('input[name="bill_id"]')
												.value,
											payment_method_name: 'Credit Card',
											amount_paid: $('#amount-to-be-paid').val(),
										}),
										success: (response) => {
											alert('Payment successful.');
											$.ajax({
												url: 'http://127.0.0.1:5000/send-receipt',
												type: 'POST',
												contentType: 'application/json',
												data: JSON.stringify({
													amount: $('#amount-to-be-paid').val(),
													payment_method_name: 'Credit Card',
													bill_id: document.querySelector(
														'input[name="bill_id"]',
													).value,
												}),
												beforeSend: () => {
													loading.classList.remove('hidden');
												},
												success: (response) => {
													alert('Receipt sent to email.');
													window.location.href =
														'http://127.0.0.1:5000/success';
												},
												error: (error) => {
													console.log(error);
												},
											});
										},
										error: (error) => {
											console.log(error);
										},
									});
								}
							},
							error: (error) => {
								alert(error.responseJSON.message);
							},
						});
					}
				});
				card_modal.showModal();
			});
		</script>
	</body>
</html>
